@font-face {
    font-family: 'fontGame';
    src: url(./assets/font/fontgame.ttf);
}

.game {
    background-image: url(./assets/bgGame.png);
    width: 100vw;
    height: 100vh;
    background-position: cover;
    position: fixed;
    font-family: fontGame;
}
.btnGame {
    width: 200px;
    height: 200px;
    font-size: 60px;
    border-radius: 20px;
    border: 1px solid greenyellow;
    color: whitesmoke;
}